$background: #404040;

body {
    background: $background;
}

.content-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-ar;
    // .content-box {
    //     &.video {
    //     }
    //     &.screenshot {
    //     }
    // }
}
